<mat-card class="max-w-6xl mx-auto main">
  <h1>Bienvenue sur la page fictive de payement</h1>
  <p class="text-center p-5">Cette page pourrait être créer et développée grâce à la librairie <strong>STRIPE</strong> par exemple</p>
  <p class="text-center">Félicitation pour votre fausse commande.</p>
  <mat-card-footer>
    <p class="max-w-7xl p-3 pt-5 text-center">
      Merci de votre visite
      <button class="ml-2" mat-raised-button routerLink='/home'>Revenir au menu principal</button>
    </p>
  </mat-card-footer>
</mat-card>
