h1 {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-size: 2rem;
  color: rgb(132, 174, 240);
}
p {
  font-size: 1.3rem;
}
p:last-child {
  margin-top: 8rem;
}
.main {
  min-height: calc(100vh - 65px);
}