<h2 *ngIf="cart.items.length" class="mt-5 text-center mb-5">Résumé de votre commande</h2>


<mat-card *ngIf="cart.items.length" class="max-w-6xl mx-auto">
  <div class="btn">
    <button routerLink="/cart" mat-raised-button color="warn" class="top-btn float-right">
      Revenir au Panier
    </button>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full">
   
    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef>Produit</th>
      <td mat-cell *matCellDef="let element">
        <img src="{{ element.product }}" alt="product" class="w-[100px] my-5" />
      </td>
      <td mat-footer-cell *matFooterCellDef>
      </td>
    </ng-container>
   
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element">
        <p class="truncate">{{ element.name }}</p>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Prix</th>
      <td mat-cell *matCellDef="let element">
        {{element.price}} €
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Quantité</th>
      <td mat-cell *matCellDef="let element">
          <span class="quant">{{ element.quantity }}</span>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef>Total</th>
      <td mat-cell *matCellDef="let element">
        {{ element.quantity * element.price }} €
      </td>
      <td mat-footer-cell *matFooterCellDef>
      </td>
    </ng-container>
    
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
      </td>
      <td mat-footer-cell *matFooterCellDef>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
  <p class="resume">Le montant total de la commande est de <strong>{{ getTotal(cart.items) }}</strong> €</p>
    <div class="elbot">
      <button mat-raised-button routerLink="/payement" color="primary" class="btnbottom">
        Payement
      </button>
    </div>
</mat-card>
<mat-card *ngIf="!cart.items.length">
  <p class="max-w-7xl p-3 pt-5 text-center">
    Votre panier est vide
    <button class="ml-2" mat-raised-button routerLink='/home'>Continuer achats</button>
  </p>
</mat-card>
