.quant {
  margin: 0.5rem;
  font-weight: 600;
  font-size: 1.6rem;
}
.imgs {
  max-height: 80px;
}
.truncate {
  max-width: 140px;
  text-align: justify;
}
.resume {
  text-align: center;
  margin: 2rem;
}
.elbot {
  display: flex;
  justify-content: center;
}
.btnbottom {
  width: 100px;
  margin-bottom: 3rem;
}
.resume {
  font-size: 1.2rem;
}
.top-btn {
  margin-bottom: 3rem;
  margin-top: 2rem;
  padding: 0.7rem 1rem;
}
.btn {
  display: flex;
  justify-content: center;
}